/* .navbar-wrapper {
    padding: 0;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .07);
    position: fixed;
    background-color: #ffffff;
    top: 0;
    width: 100%;
    z-index: 999;
} */

.nav-item {
    /* margin-right: 43px; */
}

.nav-item a{
    text-decoration: none;
    color:  black;
}

.nav-item a:hover{
    text-decoration: none;
    color: #183B67;
}

.nav-item.active {
    background-color: #183B67;
    padding: 20px 12px;
    height:100%;
}

.nav-item.active a {
    color: white !important;
}

.navbar-content-button {
    background-color: #183B67;
    border-radius: 5px;
    margin-left: 15px;
}

.navbar-content-button a {
    font-weight: 500;
    line-height:28px;
    color: #fff;
}

.navbar-content-button a:hover {
    font-weight: 500;
    line-height:28px;
    color: #fff;
    padding: 5px 10px;
}

.footer {
    bottom: 0;
    padding: 50px;
    margin-top: 50px;
    background: #183B67;
    width: 100%;
}

.footer-logo-image img {
    margin-bottom: 35px;
}

.footer-description {
    color: #fff;
}

h4.footer-description{
    font-size:16px;
}

#footer-description-location{
    font-size:12px;
}

p.footer-description {
    font-size:14px;
}

.quick-contact {
    color:#F2C808;
    font-size:18px;
}

.quick-contact-input {
    display: block;
    width: 100%;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #B1AEAE;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #395579;
    border: 1px solid #223145;
    border-radius: 5px;
}

.quick-contact-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #B1AEAE;
    opacity: 1; /* Firefox */
  }

  .quick-contact-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #B1AEAE;
  }

  .quick-contact-input::-ms-input-placeholder { /* Microsoft Edge */
    color: #B1AEAE;
  }

  .form-floating label {
    color: #B1AEAE;
  }

  .quick-contact input[type=email] {
    color: white;
    background-color: #395579;
  }

  .quick-contact input[type=email]:focus {
    background-color: #2a3e58;
    color: white;
  }

  textArea#floatingTextarea {
      min-height: 100px;
  }

  .form-floating textArea:focus {
    background-color: #2a3e58;
    color: white;
  }

  .quick-contact-button {
    padding: 12px;
    background: rgba(57, 85, 121, 0.25);
    border: 1px solid #223145;
    box-sizing: border-box;
    border-radius: 5px;
    color: #fff;
    font-size:12px;
  }

  .quick-contact-button:hover {
    background: rgba(40, 59, 85, 0.25);
    border: 1px solid #223145;
    box-sizing: border-box;
    border-radius: 5px;
    color: #fff;
    font-size:12px;
  }

  .usefull-links {
    color:#F2C808;
    font-size:18px;
  }

 .links li a {
    color: #fff;
  }

  .copyright-wrapper {
    bottom: 0;
    background: #000000;
    width: 100%;
    z-index: 999;
    }

    .copyright-text {
        color: white;
        font-size:12px;
    }

    @media (max-width:991px) {
        .navbar-content-button {
            margin-top: 30px;
            margin-left: 0;
        }

        .nav-item.active {
            padding: 20px 12px;
            height:100%;
            width: 100%;
        }
    }
