.jumbotron {
    background-image: url('/img/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    padding: 20rem 10rem;
    margin-bottom: 2rem;
}

.title-jumbotron {
    color: #fff;
    font-weight:bold;
}

/*SEARCH FORM*/
.search-form {
    background-color: initial;
    background-image: none;
    background-repeat: initial;
    background-attachment: initial;
    background-position: initial;
    border: 2px solid #fff;
    border-radius: 30px 0px 0px 30px;
    /*border-radius:Top-left, Top-right, Bottom-right, Bottom-left;*/
}

.input-group>.form-control{
    width: 300px;
    height: 50px;
}

form .form-control:focus{
    background-color: initial;
    background-image: none;
    background-repeat: initial;
    background-attachment: initial;
    background-position: initial;
    border-color: #ced4da;
    box-shadow: none;
    color: #fff;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

/*to cange only one form and not all give unique class name like  class="search-form" */
 .search-btn {
    background: #fff;
    border: 2px solid #fff;
    border-radius: 0px 30px 30px 0px;
    cursor:pointer;
    height:100%;
}

.card-content-wrapper {
    margin-top: 120px;
    margin-bottom: 120px;
}

.section-headline h2 {
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 100px;
    position: relative;
    text-transform: capitalize;
  }
/* Rectangle 56 */

  .section-headline h2::before {
    border: 5px solid #183B67;
    bottom: 0px;
    content: "    ";
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 200px;
    height: 15px;
    left: -95px;
    top: -23px;
  }

.card-height {
    min-height: 500px;
}

.card {
    border-radius: 23px;
    width: 267px;
}

.card-content-first {
    box-shadow: 0px 4px 30px rgba(11, 20, 230, 0.25);
}

.bg-card1 {
    background: #2957F8;
}

.bg-card2 {
    background: #fff;
}

.card-title {
    font-size: 24px;
    font-weight:bold;
}

